  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }

  img {
    width: 30%;
    float: left;
    margin: 0 1em 0.5em 0;
  }

  pre {
    margin-top: 4em;
    background-color: #f9f9f9;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 0.5em;
  }

.jss20
{
  font-size: 16px !important;
}
  /*** ACCORDION ***/

  /* Header */
  .accordion > div > div:first-of-type {
    padding: 1em;
    background-color: #c1e6f9;
    color: black;
    text-transform: uppercase;
    user-select: none;
    font-weight: 200;
    cursor: pointer;
    border-radius: 0.5em;
    box-shadow: 0 -10px 30px 2px rgba(0, 0, 0, 0.1) inset;
  }


  /* Content */
  .accordion > div > div:last-of-type {
    background-color: #f9f9f9;
    margin: 0 0.5em;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  }

  /* Inner */
  .accordion .accordion-item {
    padding: 1em;
    opacity: 0;
    transition: opacity 300ms ease;
    overflow: auto;
  }
.accordion > div:first-child .accordion-item {
    max-height: 200px;
  }
.accordion > div.open .accordion-item {
    opacity: 1;
    transition: opacity 700ms ease;
  }
.accordion img.accordion-item {
    padding: 0;
    margin: 0;
    width: 100%;
  }

.accordion {
    touch-action: manipulation;
}


@media only screen and (max-width: 1112px) and (orientation: landscape)
  {

  }
