
/*

This component displays year drop down date picker
@author : Aman and vikas
Since : 5th March, 2019

*/

#date
{
  margin-bottom: 30px;
  width:100%;
  height: 250px;
  position: relative;
  padding-top: 10px;
}

.box{
  height: 400px;
  width:320px;


}

.box1{
  width: 320px;
  height: 450px;
}

