*{
    box-sizing: border-box;
  }

.select-box--arrow{
    width:30px;
    height: 30px;
    margin: 0;
  padding: 0;
  display: inline-block;
  background: #aaa;
  position: absolute;
  right: 0;
  top:0;
  }
  
  .select-box--arrow-down{
    position: absolute;
    top: 12px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #ffffff;
  
  }
  .select-box--items div.selected{

background-size:16px;
background-repeat: no-repeat;
background-position: 2px 8px; 
  }
  
  .select-box--arrow-up{
    position: absolute;
    top: 10px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #ffffff;
  
  }
  
  .select-box--container{
    height: 30px;
    border: 1px solid #aaa;
   
    margin: 0;
    padding: 0;
  }
  
  .select-box--selectedItem{
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  vertical-align: middle;
  padding-left: 36px;
  margin-left: 15px;
  }
  
  .select-box--items div{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    padding-left: 20px;
  
  }
  .select-box--box{
    width: 240px;
    position:absolute;
    left: 0;
  }
  
 

.picker
{
  margin-top: 120px;
  top: 0;
  position: absolute;
  margin-left: 40px;

}

.sample
{
margin-left: 400px;
margin-top: 5px;
top: 0;
position: absolute;
}


@media only screen and (min-width: 1880px) 
{
     .select-box--selected-item
    {
         margin-top: 5px;
    }

    .select-box--box
    {
       margin-left: 200px;
     }

     .sample{
      margin-left: 450px;
     }
}

@media only screen and (max-width: 1112px) and (orientation: landscape) 
  { 
   .select-box--selected-item
     {
          margin-top: 5px;
          padding-left: 37px;
     } 
    
      .sample{
        margin-left: 330px;
        margin-top: -15px;
      }
    
  }
