* {
    box-sizing: border-box;
  }
  

  .size
  {
        background-image: linear-gradient(to right, #006175 0%, #0b8ec6 100%);
        border-radius: 40px;
        box-sizing: border-box;
        color: #0b8ec6;
        display: block;
        font: 1.125rem 'Oswald', Arial, sans-serif; 
        height: 80px;
        letter-spacing: 1px;
        margin: 0 auto;
        padding: 4px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        width: 174px;
        z-index: 2;
  }

  .size span 
  {
      align-items: center;
      background: #e7e8e9;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      height: 100%;
      transition: background .5s ease;
      width: 100%;
  }

  .size:hover
  {
    color: #fff;
  }
  
  .size:hover span 
  {
    background: transparent;
  }



  @media only screen and (max-width: 1112px) and (orientation: landscape) 
  {
    .snack
    {
      margin-top: 65px !important;
    }
    .snack
    {      
      height:450px;
      width: 300px;
      margin-left: 180px;
    }
  }

  .snack
  {
    margin-top: 100px;
    height:450px;
    width: 300px;
    margin-left: 250px;
  }
  
  button 
{
    touch-action: manipulation;
}


