.Logo {
  width: 50px;
  position: relative;
}

.ToDo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  width: 80vw;
  height: 60vh;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.3);
  background: #fdfdfd;
  padding: 50px;
  margin: 40px auto;
}

.ToDo-Header {
  color: black;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px auto 20px;
}

.ToDo-Subheader {
  font-size: 1em;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 4px auto 20px;
}

.ToDo-Add {
  font-size: 2em;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ToDo-Add:hover {
  box-shadow: none;
  margin-left: calc(auto + 1px);
}

.ToDo-Container {
  width: 80%;
  margin: 0 auto;
}

.ToDoInputContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-bottom: 30px;
}

.ToDo-Content {
display: flex;
flex-direction: column;
justify-content: flex-start;
}

input {
  width: 60%;
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
  border: 1.5px solid black;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}