html, body
{
  -webkit-text-size-adjust: none;
}

body
{
    background-image: url(./images/react_header_bg.png);
    background-position: top center;
    overflow: hidden;
    background-repeat: repeat-x;
}

.navbar-inverse
{
    background-color: transparent;
    border: none;
}

.navbar-default
{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 #EE850A;
    font: normal 16px sans-serif;
    height: 50px;
}
.navbar-default p
{
  color: #EE860A;
  text-align: center;
  font-size: 13px;
  padding-top: 15px;

}

.navbar-brand
{
    background-image: url(./images/Atomwhite.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 46px;
    width: 156px;
    margin-left: 30px;
    margin-top: 10px;
    top: 0;

}
.span
{
    border: 0.5px solid white;
    height: 39px;
    margin-left: 25px;
    position: absolute;
}


.reuse
{
    color: white;
    font-family: 'Roboto Slab (Regular)';
    font-size: 25px;
    color: #FFFFFF;
    margin-left: 200px;
    margin-top: 10px;
}

.logo
{
    background-image: url(./images/react_logo.png);
    background-position: top right;
    background-repeat: no-repeat;
    height: 40px;
    width: 39px;
    right: 0;
    margin-right: 30px;
    top:0;
    margin-top: 15px;
    position: absolute;

}

#react
{
    font-family: 'Roboto  (Medium)';
    font-size: 14px;
    position: absolute;
    color: #FFFFFF;
    margin-right: 81px;
    top:0;
    margin-top: 25px;
    right: 0;
}

.container{
  background-color: #fff;
  /*height: 790px;*/
  box-shadow: 0px 0px 5px #828282;
    overflow: hidden;

}

.col-sm-4
{
  padding: 0;
  width: 250px;
  background-color: #e7ebef;
  height: 720px;
  overflow-y: scroll;

}

.col-sm-8
{
  width: 920px;
    height: 600px;
    overflow-y: scroll;
}

.text
{
    border-radius: 25px;
    border: 1px solid #D0D8E0;
    margin-left: 10px;
    margin-right: 10px;
    width: 228px;
    height: 34px;
    margin-top: 21px;
    font-family: 'Roboto (Regular)' ;
    font-size: 16px ;
    color: #8b8a8a ;
    padding: 19px;
    top:0;

}

.search
{
  width: 250px;
  height: 76px;
  background-color: #D0D8E0;
}

a:hover, a:focus {
    /*color: #2a6496;*/
    text-decoration: none;
}

 ul .list
 {
    height: 34px;
    margin: 0;
    border: 0px !important;
    font-size: 16px;
    list-style-type: none;
    display: block;
    color:#0F3760;

}

ul .list:hover
{
    /*background-color:aliceblue !important;*/
    color: deepskyblue;
    text-decoration: none;
    transition: all 0.3s;

}


.select-box div.selected
{
    background-color: aliceblue;
    /*color: red;*/
    text-decoration: none;
    transition: all 0.3s;

}
.select-box div
{
      border-bottom: 0px solid #92A1Af;
      border-left: 0px solid #92A1Af;
      border-right: 0px solid #92A1Af;
      padding: 5px 5px 10px 10px;
}

 .hr
 {
   width: 691px;
   color: #e2e2e2;

 }


 .first
{
   height: 70px;
}

 .pdf
 {
    height: 31px;
    width: 25px;
    margin-top: 30px;
    float: right;
    background-image: url(./images/pdf_icn.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    margin-right: 10px;
     cursor: pointer;
 }


 button
{
  touch-action: manipulation;
}

 @media screen and (min-width: 768px) and (max-width: 1112px) and (orientation:portrait) {
  body
      {
        transform: rotate(-90deg);
        transform-origin: left top;
        transform-origin: bottom right;

        overflow-y: hidden;
        left: 0;
        right: 0;

      }
}




@media only screen and (max-width: 1112px) and (orientation: landscape)
{


      .col-sm-8
      {
        width: 73%;
        height: 640px;
      }

      .col-sm-4
      {
        height: 640px;
        overflow-y: auto !important;
      }

      .container
      {
        height: 640px;

      }

 }


