body {
  margin: 0;
  font-family: 'Open Sans Condensed';
  font-size: 16px;
  padding: 20px 40px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

